<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="icon" href="static/img/Logo.PNG">
        <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/cadastros.css">
        <link rel="stylesheet" type="text/css" href="../../static/css-forms/util.css">
        <link rel="stylesheet" type="text/css" href="../../static/css-forms/main.css">
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../static/assets/css/styles.css">    
		<title>Alteração de Cliente</title>
    </head>
    <body>
        <div onclick="document.location.href = '../../cliente';" class="div_voltar">
            <img class="back_image" src="../../static/img/back.png" alt="">
            <p  class="text_voltar">Voltar</p>
        </div>
        <br/>
        <br/>
        <br/>
        <form class="contact1-form validate-form form_principal" method="POST" action="../alterar/<%= data.codigo %>">
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="nome" name="nome" placeholder="Nome" value="<%= data.nome %>">
            </div>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="cpf_cnpj" name="cpfcnpj" placeholder="CPF/CNPJ" value="<%= data.cpfcnpj %>">
            </div>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="telefone"  name="telefone" placeholder="Telefone" value="<%= data.telefone %>">
            </div>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="contato" name="contato" placeholder="Contato" value="<%= data.contato %>">
            </div>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="email" name="email" placeholder="Email" value="<%= data.email %>">
            </div>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="wpp" name="wpp" placeholder="WhatsApp" value="<%= data.wpp %>">
            </div>
            <div class="wrap-input1 validate-input">
                <input class="input1" type="text" id="end" name="endereco" placeholder="Endereço" value="<%= data.endereco %>">
            </div>
            <div class="wrap-input1 validate-input">
                &nbsp;&nbsp;<label>Criado em:</label>
                <input class="input1" type="date" id="data_registro" placeholder="Contato" disabled>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <button class="contact1-form-btn">
                            <span>
                                Editar
                            </span>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="contact1-form-btn" onclick="document.location.href = '../excluir/<%= data.codigo %>';">
                            <span>
                                Excluir
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <script src="../../static/js/jquery-3.3.1.min.js" type="text/javascript"></script> 
        <script src="../../static/js/fornecedor.js"></script>
        <script src="../../static/js/geral.js"></script>
        <script> 
            window.onload = function() 
            {
                document.getElementById("data_registro").value = get_date("<%= data.data_registro %>");
            };
        </script>
    </body>
    <footer><img src="../../static/img/Logo.PNG" class="logo"></footer>
</html>